In [4]:
import yfinance as yf
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
import tensorflow as tf 

#want to predict stock price for S&P500

ticker = yf.Ticker("^GSPC")

ticker = ticker.history(period = "max")


del ticker["Dividends"]
del ticker["Stock Splits"]

sp500
#sp500.index


#sp500.plot.line(y="Close", use_index = "true")

,Open,High,Low,Close,Volume,Dividends,Stock Splits
Date,,,,,,,
1927-12-30 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
1928-01-03 00:00:00-05:00,17.760000,17.760000,17.760000,17.760000,0,0.0,0.0
1928-01-04 00:00:00-05:00,17.719999,17.719999,17.719999,17.719999,0,0.0,0.0
1928-01-05 00:00:00-05:00,17.549999,17.549999,17.549999,17.549999,0,0.0,0.0
1928-01-06 00:00:00-05:00,17.660000,17.660000,17.660000,17.660000,0,0.0,0.0
...,...,...,...,...,...,...,...
2025-01-16 00:00:00-05:00,5963.609863,5964.689941,5930.720215,5937.339844,4285810000,0.0,0.0
2025-01-17 00:00:00-05:00,5995.399902,6014.959961,5978.439941,5996.660156,4366830000,0.0,0.0
2025-01-21 00:00:00-05:00,6014.120117,6051.509766,6006.879883,6049.240234,4702920000,0.0,0.0
2025-01-22 00:00:00-05:00,6081.390137,6100.810059,6076.129883,6086.370117,4323040000,0.0,0.0
2025-01-23 00:00:00-05:00,6076.319824,6104.250000,6074.669922,6094.910156,1325949000,0.0,0.0